### Gradle Caches ###
.gradle/
build/
out/

### IDE Tracking ###
.idea/
*.iws
*.iml
*.ipr
.vscode/

### Operating System Noise ###
log/
*.log
.DS_Store
Thumbs.db

# Local Environment Variables Configuration Matrix
.env
